@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $gray-900;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-semibold;
  color: $gray-900;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1rem;
}
